<h1><%= @city.name %> Details</h1>
<h4>List of trains:</h4>
<ul>
  <% @trains.each do |train, time| %>
    <li><a href="/trains/<%= train.id %>"><%= train.name %></a> <%= time%></li>
  <% end %>
</ul>

<% if @@user.flag ==true %>
<div class="col-md-4">
<h5>Add a Train Line to <%= @city.name %>:</h5>
<form action="/cities/<%= @city.id %>" method="post">
  <input type ="hidden" name="_method" value="patch">
  <div class="form-group">
    <select id="trains" name="trains">
    <% @all_trains.each do |train| %>
      <option value="<%= train.id %>"> <%= train.name %></option>
    <% end %>
  </select>
  <button class ="btn btn-info" name="submit">Add</button>
</div>
</form>
</div>
<div class="col-md-4">
  <h5>Update City Name:</h5>
<form action="/cities/<%= @city.id %>/updated" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class "form-group">
    <input type="text" name="new_name">
    <button class="btn btn-info" name="update">Update</button>
  </div>
</form>
</div>
<div class="col-md-4">
  <h5>Delete This City:</h5>
  <form action="/deleted" method="post">
    <div class="form-group">

    <!-- to keep all deletions on the same path we had to declare a bunch of hidden values for
    each delete command. in retrospect, multiple paths may be the better option  -->

      <input type="hidden" name="hidden_id_city" value="<%= @city.id %>">
      <input type="hidden" name="hidden_id_train" value="<%= nil %>">
      <input type="hidden" name="train_to_delete" value="<%= nil%>">
      <input type="hidden" name="city_to_delete" value="<%= nil%>">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger" name="delete" id="delete_city">Delete</button>
    </div>
  </form>
</div>
<div class="col-md-4">
  <h5>Delete A Train From This City:</h5>
  <form action="/deleted" method="post">
    <div class="form-group">
      <select id="train_to_delete" name="train_to_delete">
        <% @trains.each do |train, time| %>
        <option value="<%= train.id %>"> <%= train.name %> </option>
        <% end %>
      </select>
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="hidden_id_city" value="<%= @city.id %>">
      <input type="hidden" name="hidden_id_train" value="<%= nil  %>">
      <button class ="btn btn-danger" name="submit" id ="Delete_train">Delete</button>
    </div>
  </form>
<% else %>
<% end %>
</div>
