<h1><%= @train.name %> Details</h1>
<h4>List of Cities:</h4>
<ul>
  <% @cities.each do |city, time| %>
    <li><a href="/cities/<%= city.id %>"><%= city.name %></a> <%= time%></li>
  <% end %>
</ul>
<div class="col-md-4">
<h5>Add a Destination to <%= @train.name %>:</h5>

<form action="/trains/<%= @train.id %>" method="post">
  <input type ="hidden" name="_method" value="patch">
  <div class="form-group">
    <select id="cities" name="cities">
    <% @all_cities.each do |city| %>
      <option value="<%= city.id %>"> <%= city.name %></option>
    <% end %>
  </select>
  <button class ="btn btn-info" name="submit">Add</button>
</div>

</form>
</div>
<div class = "col-md-4">
  <h5>Update Train Name:</h5>
  <form action="/trains/<%= @train.id%>/updated" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class "form-group">
      <input type="text" name="new_name">
      <button class= "btn btn-info" name="update">Update</button>
    </div>

  </form>
</div>
<div class="col-md-4">
  <h5>Delete This Train:</h5>
  <form action="/deleted" method="post">
    <div class="form-group">
      <input type="hidden" name="hidden_id_train" value="<%= @train.id %>">
      <input type="hidden" name="hidden_id_city" value="<%= nil %>">
      <input type="hidden" name="train_to_delete" value="<%= nil%>">
      <input type="hidden" name="city_to_delete" value="<%= nil%>">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger" name="delete">Delete</button>
    </div>
  </form>
</div>
<div class="col-md-4">
<h5>Delete A City From This Train:</h5>
  <form action="/deleted" method="post">
    <div class="form-group">
      <select id="city_to_delete" name="city_to_delete">
        <% @cities.each do |city, time| %>
        <option value="<%= city.id %>"> <%= city.name %> </option>
        <% end %>
      </select>
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="hidden_id_city" value="<%= nil %>">
      <input type="hidden" name="hidden_id_train" value="<%= @train.id %>">
      <input type="hidden" name="train_to_delete" value="<%= nil %>">
      <button class ="btn btn-danger" name="submit">Delete</button>
    </div>
  </form>
</div>
