<h1 class="page-header text-center"><%= @train.name %>'s Cities </h1>

<ul>
  <% @cities.each do |city| %>
    <li><a href="/cities/<%= city.id %>"><%= city.name %></a></li>
  <% end %>
</ul>
<h4>Add a Destination to <%= @train.name %>:</h4>

<form action="/train_cities/<%= @train.id %>" method="post">
  <input type ="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="cities">Select City:</label>
    <select id="cities" name="cities">
    <% @all_cities.each do |city| %>
      <option value="<%= city.id %>"> <%= city.name %></option>
    <% end %>
  </select>
</div>
<button class ="btn btn-info" name="submit">Add</button>
</form>
